@font-face {
    font-family: "Poppins";
    src: url(Poppins-Medium.ttf);
    
}
*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    color: #000;
    font-family: "poppins";
    font-weight: 400;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    scroll-behavior: smooth;
}
.main{
    width: 100%;
    height: 100%;
}
.nav-container{
    width: 100%;
    height: 80px;
}
.nav{
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    align-items: center;
    padding: 0vw 2vw;
    background-color: #fff;
    justify-content: space-between;
    z-index: 999;
}
.nav-right a{
    text-decoration: none;
    position: relative;
}
.nav-right a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 2px;
    width: 0%;
    height: 2px;
    background-color: #000;
}
.nav-right a:hover::after{
    animation: lineani 1s;
    width: 100%;
}
@keyframes lineani {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
.nav>a{
    font-size: 23px;
    text-decoration: none;
}
.nav-right{
    display: flex;
    gap: 20px;
}
.sidebar{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000;
    display: none;
    flex-direction: column;
    align-self: flex-start;
    padding: 20px;
}
.sidebar a{
    color: #fff;
    padding: 10px 0px;
    text-decoration: none;
    transition: all ease 0.5s;
}
.sidebar a:hover{
    background-color: #fff;
    color: #000;
}
.sidebar i{
    padding: 0px 0px;
    color: #fff;
    font-size: 30px;
}
.nav>i{
    font-size: 25px;
    display: none;
}
@media (max-width:600px) {
    .nav-right{
        display: none;
    }
    .nav>i{
        display: initial;
    }
}
#container{
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    flex-direction: row;
}
.left{
    width: 50%;
    height: 100%;
    padding: 5vw;
}
.left h1{
    font-size: 50px;
}
.left h1 span{
    color: #ff8a00;
}
.left p{
    margin-top: 20px;
}
.left button{
    background-color: #ff8a00;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    color: #fff;
    margin-top: 20px;
    opacity: 1;
}
.left button:hover{
    border: 2px solid #000;
    background-color: transparent;
    color: #000;
}
.right{
    width: 50%;
    height: 100%;
    padding: 5vw;
}
.right .img-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.right .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: all ease 0.5s;
}
.right img:hover{
    scale: 1.1;
}
@media (max-width:600px) {
    #container{
        flex-direction: column;
        height: max-content;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
}
@media (max-width:950px) {
    #container{
        flex-direction: column;
        height: max-content;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
}
#services{
    width: 100%;
    height: 100%;
    padding: 5vw;
}
.services-cards{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vw 0vw;
}
.service-card{
    width: 25vw;
    height: 100%;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    overflow: hidden;
    transition: all ease 0.5s;
}
.service-card:hover{
    margin-top: -10px;
    box-shadow: 0px 10px 0px #292929;
}
.card-top{
    width: 100%;
    height: 25px;
    background-color: #ff8a00;
}
.card-content{
    width: 100%;
    height: calc(100% - 25px);
    text-align: center;
    padding: 40px 20px;
}
.card-content i{
    font-size: 30px;
    margin-bottom: 20px;
}
.card-content h1{
    font-size: 32px;
    margin-bottom: 20px;
}
.card-content p{
    font-size: 18px;
}
@keyframes shadow {
    from{
        box-shadow: none;
    }
    to{
        box-shadow: 5px 5px 10px #000;
    }
}
@media (max-width:600px) {
    #services{
        height: max-content;
    }
    .services-cards{
        flex-direction: column;
        height: max-content;
    }
    .service-card{
        width: 100%;
        margin-bottom: 20px;
    }
}
@media (max-width:950px) {
    #services{
        height: max-content;
    }
    .services-cards{
        flex-direction: column;
        height: max-content;
    }
    .service-card{
        width: 100%;
        margin-bottom: 20px;
    }
}
.work{
    width: 100%;
    height: 100%;
    padding: 2vw;
}
.work h1{
    height: 10%;
}
.work-content{
    width: 100%;
    height: 90%;
    display: flex;
}
.work-left{
    width: 50%;
    height: 100%;
    padding: 2vw;
}
.work-left>h2{
    font-size: 45px;
    margin-bottom: 20px;
}
.work-left>h2 span{
    color: #ff8a00;
}
.stats{
    width: max-content;
    text-align: center; 
    margin-top: 20px;
    height: max-content;
    padding: 0vw 2vw;
    display: inline-block;
    margin-right: 20px;
}
.work-right{
    width: 50%;
    height: 100%;
    padding: 2vw;
}
.work-right .img-container{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.work-right .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease .5s;
}
.work-right .img-container img:hover{
    scale: 1.1;
}
@media (max-width:600px) {
    .work{
        height: max-content;
    }
    .work-content{
        flex-direction: column;
        height: max-content;
    }
    .work-left{
        width: 100%;
        padding: 0;
    }
    .work-right{
        width: 100%;
    }
}
@media (max-width:900px) {
    .work{
        height: max-content;
    }
    .work-content{
        flex-direction: column;
        height: max-content;
    }
    .work-left{
        padding: 0;
        width: 100%;
    }
    .work-right{
        width: 100%;
    }
}
.client{
    width: 100%;
    height: 100%;
    padding: 2vw;
}
.client h1{
    height: 10%;
}
.client-card{
    width: 100%;
    height: 90%;
    display: flex;
}
.client-photo{
    width: 50%;
    height: 100%;
    /* background-color: royalblue; */
    padding: 2vw;
}
.client-photo .img-container{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    padding: 0vw 5vw;
}
.client-photo .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.client-content{
    width: 50%;
    height: 100%;
    /* background-color: crimson; */
    padding: 2vw;
}
.client-content h1{
    font-size: 40px;
    margin-bottom: 50px;
}
.client-content button{
    padding: 5px 20px;
    background-color: #ff8a00;
    border: transparent;
    border-radius: 5px;
    color: #fff;
    margin-top: 50px;
    transition: all ease 0.3s;
}
.client-content button:hover{
    border: 2px solid #000;
    background-color: transparent;
    color: #000;
}
@media (max-width:600px) {
    .client-card{
        flex-direction: column;
        height: max-content;
    }
    .client-photo{
        width: 100%;
    }
    .client-content{
        width: 100%;
    }
}
#about{
    width: 100%;
    height: 100%;
    padding: 2vw;
}
#about h1{
    height: 10%;
}
.about-content{
    width: 100%;
    height: 90%;
    display: flex;
}
.about-left{
    width: 50%;
    height: 100%;
    /* background-color: royalblue; */
    padding: 2vw;
}
.about-left .img-container{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.about-left .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease .5s;
}
.about-left .img-container img:hover{
    scale: 1.1;
}
.about-right{
    width: 50%;
    height: 100%;
    /* background-color: crimson; */
    padding: 2vw;
}
.about-right h1{
    font-size: 40px;
    margin-bottom: 50px;
}
.about-right button{
    padding: 5px 20px;
    background-color: #ff8a00;
    border: transparent;
    border-radius: 5px;
    color: #fff;
    margin-top: 50px;
    transition: all ease 0.3s;
}
.about-right button:hover{
    border: 2px solid #000;
    background-color: transparent;
    color: #000;
}
@media (max-width:600px) {
    #about{
        height: max-content;
    }
    .about-content{
        flex-direction: column;
    }
    .about-left{
        width: 100%;
    }
    .about-right{
        width: 100%;
    }
}
@media (max-width:900px) {
    #about{
        height: max-content;
    }
    .about-content{
        flex-direction: column;
    }
    .about-left{
        width: 100%;
    }
    .about-right{
        width: 100%;
    }
}
#blog{
    width: 100%;
    height: 100%;
    padding: 2vw;
    text-align: center;
}
#blog h1{
    font-size: 50px;
}
.blog-content{
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: start;
}
.blog-card{
    width: 25vw;
    height: 60%;
    border-radius: 15px;
    background-color: #d2d2d2;
    padding: 20px;
}
.blog-card i{
    color: #ff8a00;
}
.blog-card h2{
    margin-top: 20px;
}
.blog-card>p{
    margin-top: 20px;
}
.blog-client{
    margin-top: 20px;
    width: 100%;
    height: max-content;
    display: flex;
}
.blog-left{
    width: max-content;
}
.blog-card img{
    margin-top: 20px;
    width: 50px;
    height: 50px;
    background-size: 50%;
    border-radius: 50%;
}
.blog-right{
    width: 100%;
    padding: 20px 10px;
}
@media (max-width:600px) {
    #blog{
        height: max-content;
    }
    .blog-content{
        flex-direction: column;
        align-items: start;
    }
    .blog-card{
        width: 100%;
        margin-top: 20px;
    }
}
#contact{
    width: 100%;
    height: 50%;
    text-align: center;
    padding: 2vw;
}
#contact h1{
    margin-bottom: 20px;
}
#contact button{
    padding: 5px 20px;
    background-color: #ff8a00;
    border: transparent;
    border-radius: 5px;
    color: #fff;
    margin-top: 50px;
    transition: all ease 0.3s;
}
#contact button:hover{
    border: 2px solid #000;
    background-color: transparent;
    color: #000;
}
footer{
    width: 100%;
    height: 30%;
    background-color: #000;
    padding: 2vw;
}
footer p{
    color: #fff;
    font-size: 25px;
    margin-bottom: 10px;
}
footer a{
    color: #fff;
    font-size: 22px;
    text-decoration: none;
}
footer i{
    color: #fff;
}
.credits{
    text-align: center;
}
.credits a{
    color: #f00;
    text-decoration: none;
}